body {
    font-family: Arial, sans-serif;
    background-color: #f5e1e1;
    display: flex;
    align-items: center;
}

main {
    background: #e5baba;
    width: 300px;
    padding: 20px;
}

.heading{
    text-align: center;
    background-color: #f2d9d9;
    padding: 24px;
    margin: 20px;
    padding-top: 10px;
}

h1 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
    color: #222;
}

img {
    display: block;
    width: 100%;
    height:220px;
    object-fit: cover;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
    color: #444;
}

p {
    margin: 5px 0;
    font-size: 14px;
}

a {
    color: #0066cc;
    text-decoration: none;
}

footer {
    text-align: center;
    margin-top: 15px;
    font-size: 12px;
    color: #777;
}

.detail{
    text-align: center;
}